<div id="header">
      <div class="container_12">
        <div class="grid_9" id="logo">
         <!--
          <a href="12321.html" title="Take me home!"><img src="/logo.png"></a> 
          -->
          <span class='red'>No  Logo</span> 
        </div>
        <div class="grid_3" id="search">
          <form action="http://www.google.com/cse" id="cse-search-box">
            <div>
              <input name="cx" type="hidden" value="003452776527504715988:fpri-ti1_v0">
              <input name="ie" type="hidden" value="UTF-8">
              <input id="q" name="q" placeholder="Search" size="28" type="text">
            </div>
          </form>
          
        </div>
      </div>
    </div>
