  
	<div class="box" id="Weibo"> 
	<h3></h3>
	
	<div class="weibo">
           <p><a href="http://weibo.com/u/2681871083" title="weibo!">lingang.chen</a>    【 杭州 】
	   </p> 
        </div>  
        <br/>
	   <wb:follow-button uid="2681871083" type="red_4" width="100%" height="104" ></wb:follow-button>
	</div>
        
    	<div class="box" id="RSSfeed">
            <h3>RSS Feed</h3>
            <p>本博客源码托管在 github 上，建议大家多使用RSS访问阅读 。   （推荐使用 <a href="https://www.google.com/reader/view/feed/http%3A//chenlg.github.com/moonblog/atom.xml" target="_blank" title="订阅到 Goolge Reader">Google Reader</a>）</p> 
        </div>  
        <div class="box list_only" id="recommend">
            <h3>REC Read</h3> 
            <ul> 
               {% for post in site.posts %} 
              	 {% if post.read == 'REC' %}
              	 	<li><a href='{{ site.baseurl }}{{ post.url }}' title="view posts">{{ post.title}}</a>
			</li> 
              	 {% endif %}
	       {% endfor %} 
            </ul>   
        </div>
    	<div class="box list_only" id="categories">
            <h3>Categories</h3>
            <ul>
                {% for category in site.categories %} 
		    <li><a href='{{ site.baseurl }}/categories/?category={{ category | first }}' title="view all
		posts">{{ category | first }}  <span>({{ category | last | size }})</span></a>
		    </li> 
		{% endfor %}
            </ul>
        </div>
          <div class="box list_only" id="archives">
            <h3>Archives</h3>
            <ul> 
             {% for post in site.posts %}   
		    {% unless post.next %}  
		      <li><a href='{{ site.baseurl }}/archives/?archive={{ post.date | date: '%Y/%m' }}'>{{ post.date | date: '%B' }} {{ post.date | date: '%Y' }}
		      <!-- <span>({{ post.date | date: '%Y-%m' | size }})</span>--></a></li>
		    {% else %}
		      {% capture month %}{{ post.date | date: '%m%Y' }}{% endcapture %}
		      {% capture nmonth %}{{ post.next.date | date: '%m%Y' }}{% endcapture %}
		      {% if month != nmonth %}  
			<li><a href='{{ site.baseurl }}/archives/?archive={{ post.date | date: '%Y/%m' }}'>
			{{ post.date | date: '%B' }} {{ post.date | date: '%Y' }} <!-- <span>({{ post.date | date: '%Y-%m' | size }})</span>--></a></li> 
		      {% endif %}
		    {% endunless %}
		  {% endfor %} 
            </ul>
          </div>
          <div class="box" id="about_me">
            <h3>About Me</h3>
            <img class="left" src="{{ site.baseurl }}/images/darkness/simpsons_me.png">
            <p>Hello! I'm lingang.chen, this is my personal blog. I'm a developer with a passion for Java, C#, NodeJs and HTML/CSS.</p>
            <p>I'm currently studying embedded, although the technology is not proficient, but like.</p>
            <p>
              <a href="https://github.com/chenlg" title="my code at Github!"><img src="{{ site.baseurl }}/images/darkness/github.png" alt="Github"></a>  
            </p>
          </div>
          <div class="box" id="photo">
            <h3>My Photo</h3>
            <div class="flickr_photos">
            <!-- 
            <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    <span class="flickr_image"><a href="#"><img src="21321.jpg" alt="231"></a></span>
	    -->
            </div>
          </div>
          <!--
          <div class="box" id="twitter">
            <img src="/twitter_bird.png" class="left pad_right">
            <h3>Twitter</h3>
            <p class="intro">I was last seen saying:</p><div class="clear"></div> 
                      <p class="tweet">
                        “<span>hoolle lviinx wks,/span>”
                      </p> 
            <p><a href="/">view evidence</a></p>
          </div>
          -->
